// Proxima Nova Condensed

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-BoldIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Black.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Bold.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Extrabld.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Extrabld.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-BlackIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-ExtrabldIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-ExtrabldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Light.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-LightIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-RegularIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-ThinIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-ThinIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-SemiboldIt.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Semibold.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Thin.woff2') format('woff2'),
       url('@/fonts/proxima-nova-condensed/ProximaNovaCond-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

