<div class="offices js-scene" id="js-offices">
  <div class="offices__center center">
    <div class="offices__wrap">
      <div class="offices__head js-offices-head">
        <div class="offices__dropdown">
          <button class="offices__dropdown-btn js-offices-dropdown-btn">
            Офисы Softline
            <svg class="offices__dropdown-icon"><use xlink:href="#down"></use></svg>
          </button>
          <div class="offices__dropdown-core">
            <div class="offices__dropdown-list">
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="moscow">Москва</button>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="center">Центр</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Воронеж</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Ярославль</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Белгород</a>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="northwest">Северо-Запад</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Санкт-Петербург</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Калининград</a>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="south">Юг</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Ростов-на-Дону</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Краснодар</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Волгоград</a>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="volga">Волга</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Казань</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Самара</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Уфа</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Оренбург</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Нижний Новгород</a>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="ural">Урал</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Екатеринбург</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Челябинск</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Пермь</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Сургут</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Тюмень</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Ижевск</a>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="siberia">Сибирь</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Новосибирск</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Омск</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Томск</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Красноярск</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Иркутск</a>
              </div>
              <div class="offices__dropdown-col">
                <button class="offices__dropdown-heading js-offices-button-choose" data-category="far-east">Дальний Восток</button>
                <a href="#" target="_blank" class="offices__dropdown-link">Хабаровск</a>
                <a href="#" target="_blank" class="offices__dropdown-link">Владивосток</a>
              </div>
            </div>
          </div>
        </div>

        <nav class="offices__nav">
          <ul class="offices__nav-list js-offices-scroll">
            <li class="offices__nav-item">
              <button class="offices__nav-btn active js-offices-button-choose" data-category="all">Все</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="moscow">Москва</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="center">Центр</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="northwest">Северо-Запад</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="south">Юг</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="volga">Волга</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="ural">Урал</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="siberia">Сибирь</button>
            </li>
            <li class="offices__nav-item">
              <button class="offices__nav-btn js-offices-button-choose" data-category="far-east">Дальний восток</button>
            </li>
          </ul>
        </nav>
      </div>

      <div class="offices__body js-offices-scroll">
        <div class="offices__inner">
          <div class="offices__map">
            {% include './offices.map.html' %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>