<div class="banner js-scene">
  <div class="banner__center center">
    <div class="banner__wrap">
      <picture class="banner__bg">
        <source type="image/webp" srcset="./images/banner-main-bg.webp" />
        <img src="./images/banner-main-bg.jpg" alt="Banner" loading="lazy" class="banner__bg-img" width="1250" height="600" />
      </picture>

      <div class="banner__main">
        <div class="banner__heading heading-base">Поставщик услуг цифровой трансформации и кибербезопасности</div>
        <a href="#" target="_blank" class="banner__btn btn-base">На сайт</a>
      </div>
    </div>
  </div>
</div>